<div class="row justify-content-center" style="width: 100%;">
    <div class="col-md-3">
      <!-- small box -->
      <div class="small-box bg-1">
        <div class="inner">
          <h2>Import User</h2>
        </div>
        <div class="icon">
          <i class="slicon-cloud-upload"></i>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <!-- small box -->
      <div class="small-box bg-2">
        <div class="inner">
          <h2>Memberi Nilai</h2>
          <h4>Tahap 1 Main Event</h4>
        </div>
        <div class="icon">
          <i class="slicon-check"></i>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <!-- small box -->
      <div class="small-box bg-3">
        <div class="inner">
          <h2>Download Submission</h2>
          <h4>Siklus Akuntansi</h4>
        </div>
        <div class="icon">
          <i class="slicon-cloud-download"></i>
        </div>
      </div>
    </div>
</div>
<div class="row justify-content-center" style="width: 100%;">
    <div class="col-md-3">
      <!-- small box -->
      <div class="small-box bg-4">
        <div class="inner">
          <h2>Pengaturan Preliminary Event</h2>
        </div>
        <div class="icon">
          <i class="slicon-settings"></i>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <!-- small box -->
      <div class="small-box bg-4">
        <div class="inner">
          <h2>Pengaturan Main Event</h2>
        </div>
        <div class="icon">
          <i class="slicon-settings"></i>
        </div>
      </div>
    </div>
</div>