<div class="admininfos">
	{{{ output.mydashboard_admin_header }}}
	<div class="row">
        <h1>Welcome,</h1>
    </div>
    <div class="row">
        <h1>{{{user.firstname}}} !</h1>
    </div>
</div>